<div data-ng-cloak>
    <div class="container-fluid home-page">
        <div class="">
            <div class="header text-center" id="header">
                <div class="container zan-max-width center">
                    <!-- <h2 class="red text-uppercase">Sports Betting Contests</h2> -->
                    <h2 class="text-uppercase">We offer Two Types of Contests</h2>
                    <!-- <h5>Play daily, season long, for the playoffs <br>or just for a Tournament.</h5> -->
                    <h2><span class="nav-site-title text-uppercase"><span>Drafts </span><span class="and-special">AND</span><span> Brackets</span></span></h2>
					<!-- <p class="nav-title-sub">Play Daily, Season Long, or just for the Playoffs</p> -->
                    
                    
                </div>
            </div>

            <div class="drafts " id="drafts">
                <div class="container zan-max-width center">
                    <h2 class="text-center text-uppercase nav-site-title"><strong><span class="">draft contests</span> are like fantasy sports</strong></h2>
                    <div class="how-to-wrapper">
                        <div class="zan-no-padding">
                            <div class="col-md-12 center">
                                <p class="enlarge-p draft-enlarge-p">Difference is you draft TEAMS instead of PLAYERS
                                </p>
                                <div class="text-center center">
                                    <img class="zan-icon zan-hide-on-desktop" src="/images/noun_Sports_1055957_000000.png">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 two-ways-holder zan-no-padding">
                            <div class="two-ways-wrapper">
                                <div class="text-center">
                                    <h2 class=" nav-site-title text-uppercase "><strong>TWO WAYS TO WIN A <span class="">DRAFT CONTEST</span></strong></h2>
                                </div>
                                <div class="hide-sm-db  winner-wrap col-xs-6 no-padding-bottom zan-no-padding">
                                    <span class="white two-ways-number">Winner #1</span>
                                    <p>The person that accumulates the MOST WINS from their drafted teams</p>
                                </div>
                                <div class="col-xs-6 hide-sm-db winner-wrap zan-no-padding">
                                    <span class="white two-ways-number">Winner #2</span>
                                    <p>The person that drafts the LEAGUE CHAMPION (Super Bowl winner, World Series winner, etc)</p>
                                </div>
                            </div>
                        </div>
                        <div class="learn-rules">
                            <a href="/register" ><button type="button" class="btn btn-primary white-bg blue"><span class="inside-button">PLAY NOW</span></button></a>
                            <a href="/draft-rules"><button type="button" class="btn btn-primary white-bg blue"><span class="inside-button">LEARN RULES</span></button></a>
                        </div>
                    </div> <!-- End how to wrapper -->
                </div>
            </div>

            <div class="brackets red-dark-bg " id="brackets">
                <div class="container zan-max-width center">
                    <h2 class="text-center text-uppercase"><strong><span class="blue-stroke">bracket contests</span> are built for playoffs</strong></h2>
                    <div class="">
						<div class="col-md-12 text-center">
							<p class="enlarge-p zan-no-padding">You must predict the winner of each playoff series in exact games</p>
                            <div class="center">
                                <img class="zan-icon" src="images/psychic-full.png">
                            </div>
                        </div>
                        <div class="col-md-12 text-center zan-mar-btm">
                            <h2 class="text-center text-uppercase"><strong>One way to win a <span class="blue-stroke">bracket contest</span></strong></h2>
                            <p class="enlarge-p hide-sm-db">Predict the playoffs better than anyone else in your contest</p>
                        </div>
                    </div> <!-- End how to wrapper -->
                    <div class="learn-rules">
                        <a href="/register"><button type="button" class="btn btn-primary red white-bg"><span class="inside-button">PLAY NOW</span></button></a>
                        <a href="/bracket-rules"><button type="button" class="btn btn-primary red white-bg"><span class="inside-button">LEARN RULES</span></button></a>
                    </div>
                </div>
            </div>

            <div class="mma black-mma-bg-home " id="mma">
                <div class="container zan-max-width center">
                    <!-- <h2 class="text-center text-uppercase"><strong><span class="red-stroke">MMA contests</span></strong></h2> -->
                    <div class="">
                        <!-- <div class="col-md-12 text-center">
                            <p class="enlarge-p zan-no-padding">Play our MMA Contests </p>
                            <div class="center">
                                <img class="zan-icon" src="images/psychic-full.png">
                            </div>
                        </div> -->
                        <div class="col-md-12 text-center">
                            <h2 class=" nav-site-title text-uppercase "><strong>Play our MMA Contests</strong></h2>
                            <h2 class="enlarge-p zan-no-padding" id="two-people-enter"><span class="red-stroke">Two people enter</span></h2>
							<h2 id="one-person-wins"><span class="blue-stroke">One person wins cash</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            

            <div class="any-device" id="any-device">
                <div class="container zan-max-width center">
                    <h2 class="text-center"><strong>PLAY&nbsp;<span class="red-underline">ANYONE.</span>&nbsp; <span class="red-underline">ANYTIME.</span>&nbsp;&nbsp;<span class="red-underline">ANYWHERE.</span></strong></h2>
                    <div class="zan-wrapper">
                        <img src="images/devices-1.png" alt="devices" class="devices">
                    </div>
                </div>
            </div>

            <div class="reasons " id="reasons">
                <div class="container zan-max-width center">
                    <h2 class="text-center"><strong>NEED MORE <span class="red-underline">REASONS</span> TO PLAY?</strong></h2>
                    <div class="zan-wrapper zan-wrapper-1 clearfix">
                        <div class="col-xs-5ths col-sm-5ths col-lg-5ths">
							<div class="outer-image-wrap">
							<div class="reason-image-wrap">
						<div class="reason-just-image">

                            <img src="images/free.svg">
						</div>
                            <p>Play For Free</p>
							</div>
							</div>
                        </div>
                        <div class="col-xs-5ths col-sm-5ths col-lg-5ths">
						<div class="outer-image-wrap">
						<div class="reason-image-wrap">
						<div class="reason-just-image">

                            <img src="images/brain.svg">
						</div>
							<p>Test Your Sports IQ</p>
						</div>
                            
                        </div>
                        </div>
                        <div class="col-xs-5ths col-sm-5ths col-lg-5ths">
						<div class="outer-image-wrap">
						<div class="reason-image-wrap">
						<div class="reason-just-image">

                            <img src="images/rules.png">
						</div>
							<p>Simple Rules</p>
						</div>
							
                           
                        </div>
                        </div>
                       
                        <div class="col-xs-5ths col-sm-5ths col-lg-5ths">
						<div class="outer-image-wrap">
						<div class="reason-image-wrap">
						<div class="reason-just-image">
                            <img src="images/cash.svg">
						</div>
							 <p>Instant Payouts</p>
						</div>
                           
                        </div>
                        </div>
                        <div class="col-xs-5ths col-sm-5ths col-lg-5ths">
						<div class="outer-image-wrap">
						<div class="reason-image-wrap">
						<div class="reason-just-image">

                            <img src="images/ball_and_chain.svg">
						</div>
							 <p>No Long Term Commitment</p>
						</div>
                           
                        </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="banner " id="banner">
                <div class="row zan-max-width center">
                    
					<div class=" zan-no-padding crowd-text col-sm-12">
                        <h2><span class=" text-uppercase nav-site-title">Play<span class="red"> During the Season</span> or just for the <span class="red">Playoffs</span></span></h2>
                        
                    </div>
                   
                </div>
            </div>

           <!-- <div class="bullseye red-bg " id="bullseye">
                <div class="container zan-max-width center">
                    <h2 class="text-center text-uppercase"><strong>Shit Yeah! You hit the Bullseye</strong></h2>
                    <div class="zan-wrapper zan-wrapper-1 clearfix">
                        <div class="col-xs-6 text-center">
                            
                            <img src="images/drafts-bull100Res.svg">
                            
                        </div>
                        <div class="col-xs-6 text-center">

                            <img src="images/bracket-bull100Res.svg">
                            
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary modal-btn" data-toggle="modal" data-target="#ageconfirmationmodal">
    Test Modal
</button> -->

<!-- <div class="zan-modal-container container"> -->
<div class="modal-backdrop in zan-modal-bg"></div>
    <!-- Modal -->
    <!-- <div class="modal fade in show" id="ageconfirmationmodal" role="dialog"> -->
    <div class="modal fade in" id="ageconfirmationmodal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="age-confirmation" id="age-confirmation">
                        <div class="container-fluid text-center text-md-left">
                            <div class="row">
                                <h3 class="red">Please confirm that you're over 21</h3>
                                <div class="blue-bg wrapper">
                                    <div class="col-md-12 zan-max-width center">
                                        <div class="zan-option">
                                            <div class="col-md-6 center">
                                                <a href="">
                                                    <p class="text-center text-uppercase red-outline red-border over-21 dismiss">I'm over 21</p>
                                                </a>
                                            </div>
                                            <div class="col-md-6 center">
                                                <a href="" data-dismiss="modal">
                                                    <p class="text-center text-uppercase blue-outline blue-border exit">Exit</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="logo">
                                    <img src="images/draftbracketlogopng.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->

<script type="text/javascript">
    // Hide/Show background overlay
    if ( $("#ageconfirmationmodal").hasClass("show") ) {
        $('.modal-backdrop.in.zan-modal-bg').show();
    } else {
        $('.modal-backdrop.in.zan-modal-bg').hide();
    }

    // Go to google
    $( ".exit" ).click(function() {
        window.location.href = "https://www.google.com/";
    });

    // Cookie Setup
    $(window).load(function() {
        var visits = $.cookie('visits') || 0;

        // Enter Website
        $('.over-21').click(function(){
            $('#ageconfirmationmodal, .modal-backdrop.in.zan-modal-bg').hide();
            visits++;
            $.cookie('visits', visits, { expires: 999, path: '/' });
        });
            
        console.debug($.cookie('visits'));

        if ( $.cookie('visits') > 0 ) {
            // alert("Cookie is more than 1!");
            $('#ageconfirmationmodal, .modal-backdrop.in.zan-modal-bg').hide();
        } else {
            // alert("No cookie yet!");
            //$('#ageconfirmationmodal, .modal-backdrop.in.zan-modal-bg').show();
        }
    });
</script>
