<div class="age-confirmation" id="age-confirmation">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <h3 class="red">Please confirm that you're over 21</h3>
            <div class="blue-bg wrapper">
                <div class="col-md-12 zan-max-width center">
                    <div class="col-md-8">
                        <a href="">
                            <img src="images/imover21.png">
                        </a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="">
                            <img src="images/exit.png">
                        </a>
                    </div>
                </div>
            </div>
            
            <!-- <h3 class="red">Please indicate that you have read and agree<br>to the <a href="" class="blue"><u>Terms and Conditions</u></a> and <a href="" class="blue"><u>Privacy Policy</u></a></h3>
            <div class="red-bg wrapper">
                <div class="col-md-12 zan-max-width center">
                    <div class="col-md-8">
                        <a href="">
                            <img src="images/iagree.png">
                        </a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="">
                            <img src="images/exit.png">
                        </a>
                    </div>
                </div>
            </div> -->

            <div class="logo">
                <img src="images/draftbracketlogopng.png">
            </div>
        </div>
    </div>
</div>