<div class="company-page-wrapper">
    <div id="invites-wrapper">
        <div class="container-fluid container" id="invites-page">
            <div class="row">
                <div class="col-sm-12 center">
                    <div class="invites-holder">
                        <div class="container zan-no-invites blue-bg">
                            <h3 class="text-center white">You have no Invites at this time, <a href="create-contests">click here to create a contest</a>.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>