<div class="company-page-wrapper">
    <div id="about-us-wrapper">
        <div class="container-fluid container" id="about-us-page">
            <div class="row">
                <div class="col-sm-12 center">
                    <div class="about-us-holder">
                        <h2 class="text-center text-uppercase white">About Us</h2>
                        <p class="white">
                            First and foremost, thank you for playing DRAFT BRACKETS!  
                        </p>
                        <p class="white">
                            The beauty of Draft Brackets is the flexibility.  These contests apply to all sports and depending on your choice your ontests can last one day, an entire sports season, or just for the playoffs.
                        </p>
                        <p class="white">
                            Our mission is to offer super fun, super simple and extremely equal/fair betting contests. We want sports fans to test their sports IQ against other sports fans for cash, fun and bragging rights! 
                        </p>
                        <p class="white">
                            These DRAFTS and BRACKETS started out as “Office Pools” with buddies and people around the office.    Each year more and more people asked me to organize and setup a DRAFT or BRACKET contest.  So I figured if hundreds of sports fans enjoy the contests, then hundreds of thousands of sports fans would too, so in 2018 I created DRAFT BRACKETS!
                        </p>
                        <p class="white">
                            The future is bright (in 2019) the Draft Brackets app for iPhone and Android phones will be available to the public.    Plus, sports gambling laws changing in the USA might be changing (pending Supreme Court decision in Christie vs. National Collegiate Athletic Association). So potentially you will be able to play DRAFT BRACKETS for CASH!  
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>