<div class="company-page-wrapper sport-page-wrapper">
    <div id="draft-rules-wrapper">
        <div class="container-fluid container" id="draft-rules-page">
            <div class="row">
                <div class="col-sm-12 center">
                    <div class="draft-rules-holder">
                        <h2 class="text-center text-uppercase red sport-title">Draft Contests</h2>
                        <h3 class="text-center text-uppercase white how-it-works">How they work</h3>
                        <p class="white">
                            There is a scheduled draft. Each person in the draft ends up with same number of teams. At end of season there are two winners. 
                        </p>
                        <h4 class="white">
                            <strong>Winner #1</strong> -- The person that accumulates most wins from their drafted teams.
                        </h4>
                        <h4 class="white">
                            <strong>Winner #2</strong> -- The person that drafts League Champion (Super Bowl Winner, World Series Winner, etc). 
                        </h4>
                        <br>
                        <h3 class="white how-it-works">
                            It's literally that simple. 
                        </h3> 
						<p class="white">
                            Watch video below to learn more about Draft Contests!
                        </p>
                        <div class="zan-youtube-iframe-holder">
                            <div class="zan-youtube-iframe-wrapper">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/keCkzr0BFQM?rel=0&showinfo=0&HD=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                        <!-- <p class="white">
                            <div class="template-to-be-wrapper">
                                <ul class="template-to-be">
                                    <li class="teams">
                                        <a href="#" class="red">NBA</a>
                                        <a href="#" class="red">NFL</a>
                                        <a href="#" class="red">NHL</a>
                                        <a href="#" class="red">MLB</a>
                                        <a href="#" class="red">MLS</a>
                                    </li>
                                    <li class="sport">
                                        <a href="#" class="text-uppercase">College Football</a>
                                        <a href="#" class="text-uppercase">College Basketball</a>
                                        <a href="#" class="text-uppercase">Golf</a>
                                        <a href="#" class="text-uppercase">Tennis</a>
                                        <a href="#" class="text-uppercase">International Soccer</a>
                                    </li>
                                </ul>
                            </div>
                        </p> -->
                        <div class="rules-play-now-btn text-center" ng-show="!draftrulesCtrl.isAuthenticated()">
                            <button type="button" class="btn btn-primary white-bg blue"><a href="http://draftbrackets.com/login"><span class="inside-button">PLAY NOW</span></a></button>
                        </div>
                        <div class="rules-play-now-btn text-center" ng-show="draftrulesCtrl.isAuthenticated()">
                            <button type="button" class="btn btn-primary white-bg blue"><a href="http://draftbrackets.com/drafts"><span class="inside-button">PLAY NOW</span></a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>