<div class="company-page-wrapper company-page-wrapper-top sport-page-wrapper black-mma-bg-cp">
    <div id="footer-mma-wrapper">
        <div class="container-fluid container footer-mma-page">
            <div class="row">
                <div class="col-sm-12 center">
                    <div class="footer-mma-holder">
                        <h2 class="text-center text-uppercase red  sport-title">MMA Contests</h2>
                        
                        <h3 class="white how-it-works">How it works</h3>
                        <p class="white">
                            Before each MMA event you predict the outcomes of all the fights.  The more accurate your predictions the more points your earn.  After the MMA event ends count up your points.  If you earned more points than your opponent then all the CASH and bragging rights are yours!   
                        </p>
						<p class="white">Read below for more detail on the MMA contest scoring system.</p>
						<p>&nbsp;</p>
                        <h3 class="red  sport-title how-it-works"> 
                            SCORING SYSTEM
                        </h3>
                        <p class="white">
                          PRELIMS: Pick winning fighter in Prelim Bout and earn 6 points<br/>

							MAIN CARD:    Pick winning fighter in Main Card Bout and earn 12 points <br/>

							MAIN EVENT:   Pick winning fighter in Main Event (or Co Main Event) and earn 24 points <br/>
							
                        </p>
						<p>&nbsp;</p>
                        <h3 class="red  sport-title how-it-works">
                            Double Your Points for Correct Fight Pick if... 
                        </h3>
                        <p class="white">
                           You predict the winning fighter and the correct method of victory  (KO/TKO, Decision, or Submission)


                        </p>
						<p>&nbsp;</p>
                        <h3 class="red  sport-title how-it-works">
                            Triple Your Points for Correct Fight Pick if... 

                        </h3>
                        <p class="white">
                           You predict the winning fighter and the correct method of victory in the correct round.  




                        </p>
						<p>&nbsp;</p>
                        <p class="white">
                         <span class="red">** IMPORTANT</span> Zero points awarded for any fights that end in draws or disqualification!  

                        </p>



                        <!-- <div class="zan-youtube-iframe-wrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/keCkzr0BFQM?rel=0&showinfo=0&HD=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div> -->
						<p>&nbsp; </p>
						 <div class="rules-play-now-btn text-center" ng-show="!mmaCtrl.isAuthenticated()">
                            <button type="button" class="btn btn-primary white-bg red button-red-border"><a href="/login"><span class="inside-button red">Play Now</span></a></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>