<div class="company-page-wrapper company-page-wrapper-top sport-page-wrapper">
    <div id="footer-nfl-wrapper">
        <div class="container-fluid container footer-nfl-page">
            <div class="row">
                <div class="col-sm-12 center">
                    <div class="footer-nfl-holder">
                        <h2 class="text-center text-uppercase red sport-title">NFL Draft Contests</h2>
                       
                        <h3 class="white how-it-works">How it works</h3>

                        <p class="white">
                            Draft Contests are season long Pick’em Contests. So before the season starts there is a scheduled draft. Each person in the draft ends up with same number of NFL teams. At the end of the NFL season there are two winners.
                        </p>

                        <h4 class="white">
                            <strong>Winner #1</strong> -- The person that accumulates most wins from their drafted NFL teams.
                        </h4>
                        <h4 class="white">
                            <strong>Winner #2</strong> -- The person that drafts the Super Bowl Winner.
                        </h4>

                        <h3 class="white how-it-works">
                            It's literally that simple. 
                        </h3>
                        
                     
                        
                        <div class="zan-youtube-iframe-wrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/keCkzr0BFQM?rel=0&showinfo=0&HD=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>

                        <div class="rules-play-now-btn text-center" ng-show="!nflCtrl.isAuthenticated()">
                            <button type="button" class="btn btn-primary white-bg blue"><a href="http://draftbrackets.com/login"><span class="inside-button">Play Now</span></a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>