<div class="company-page-wrapper company-page-wrapper-top sport-page-wrapper">
    <div id="footer-nhl-wrapper">
        <div class="container-fluid container footer-nhl-page">
            <div class="row">
                <div class="col-sm-12 center">
                    <div class="footer-nhl-holder">
                        <h2 class="text-center text-uppercase red  sport-title">NHL Draft Contests</h2>
                        
                        <h3 class="white how-it-works">How it works</h3>
                        
                        <p class="white">
                            Draft Contests are season long Pick’em Contests. So before the season starts there is a scheduled draft. Each person in the draft ends up with same number of NHL teams. At the end of the NHL season there are two winners.
                        </p>

                        <h4 class="white">
                            <strong>Winner #1</strong> -- The person that accumulates most wins from their drafted NHL teams.
                        </h4>
                        <h4 class="white">
                            <strong>Winner #2</strong> -- The person that drafts the Stanley Cup Winner.
                        </h4>

                        <h3 class="white how-it-works">
                            It's literally that simple. 
                        </h3>

                        <div class="zan-youtube-iframe-wrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/keCkzr0BFQM?rel=0&showinfo=0&HD=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
						 <div class="rules-play-now-btn text-center" ng-show="!nhlCtrl.isAuthenticated()">
                            <button type="button" class="btn btn-primary white-bg blue button-red-border"><a href="http://draftbrackets.com/login"><span class="inside-button">Play Now</span></a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="company-page-wrapper company-page-wrapper-bottom sport-page-wrapper">
    <div id="footer-nhl-wrapper">
        <div class="container-fluid container footer-nhl-page">
            <div class="row">
                <div class="col-sm-12 center">
                    <!-- Second Holder -->
                    <div class="footer-nhl-holder">
                        <h2 class="text-center text-uppercase white sport-title blue">NHL Bracket Contests</h2>

                        <h3 class="white how-it-works">How it works</h3>

                        <p class="white">
                            You must predict the entire playoffs by picking the winner of each NHL playoff series in exact games. The more accurate your predictions the more points you earn.  Read below for more detail on the point system.
                        </p>
                        
                        <p class="white">
                            <strong class="sport-title blue">Each round of Playoffs has a total value of 32 points:</strong>
                        </p>
                        <p class="white">
                            <strong>First Round:</strong> Each First Round Series Winner is worth 4 Points.<br>
                            <strong>Conference Semifinals:</strong> Each Conference Semifinals Winner is worth 8 points.<br>
                            <strong>Conference Finals:</strong> The Western Conference Winner and Eastern Conference Winner each is worth 16 points.<br>
                            <strong>Stanley Cup:</strong> Stanley Cup Winner is worth 32 Points.
                        </p>
                        <br>
                        <p class="white">
                            <strong class="sport-title blue">Double Your Points for Series win if…</strong>
                            <br>
                            Receive double points for a Playoff series if you predict correct series winner in exact number of games.
                        </p>
                        <p class="white">
                            <strong class="sport-title blue">Triple Your Points for Series win if...</strong>
                            <br>
                            Receive triple points for Playoff series if you predict correct series winner, against correct opponent in exact number of games.**

                            <h5 class="white">**Triple bonus not available in First round since seeds/matchups already determined.</h5>
                        </p>

                        

                        <div class="zan-youtube-iframe-holder">
                            <div class="zan-youtube-iframe-wrapper">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/nR9YSDmrG2M?rel=0&showinfo=0&HD=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="rules-play-now-btn text-center" ng-show="!nhlCtrl.isAuthenticated()">
                            <button type="button" class="btn btn-primary white-bg blue button-blue-border"><a href="http://draftbrackets.com/login"><span class="inside-button">Play Now</span></a></button>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>