<div class="company-page-wrapper">
    <div id="refer-a-friend-wrapper">
        <div class="container-fluid container" id="refer-a-friend-page">
            <div class="row">
                <div class="col-sm-12 center">
                    <div class="refer-a-friend-holder">
                        <h2 class="text-center text-uppercase red">Refer A Friend</h2>
                        <p>
                            
                        </p>
                        <p>
                            
                        </p>
                        <p>
                            
                        </p>
                        <p>
                            
                        </p>
                        <p>
                            
                        </p>
                        <p>
                            
                        </p>
                        <p>
                            
                        </p>
                        <p>
                            
                        </p>
                        <p>
                            
                        </p>
                        <p>
                            
                        </p>
                        <p>
                            
                        </p>
                        <p>
                            
                        </p>
                        <p>
                            
                        </p>
                        <p>
                            
                        </p>
                        <p>
                            
                        </p>
                        <p>
                            
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>