<div class="company-page-wrapper">
    <div id="responsible-gaming-wrapper">
        <div class="container-fluid container" id="responsible-gaming-page">
            <div class="row">
                <div class="col-sm-12 center">
                    <div class="responsible-gaming-holder">
                        <h2 class="text-center text-uppercase red">Responsible Gaming</h2>
                        <p>
                            At Draft Brackets, we are committed to protecting our players. We recognize that sometimes people may not have all the resources necessary to be able to manage their play in a productive, responsible manner. Therefore, we offer proactive tools and support meant to encourage healthy player behavior and deliver positive player experiences.
                        </p>
                        <h3>Self-Exclusion</h3>
                        <p>
                           If you wish to disable your account for any reason, you may apply a self-exclusion to your account. Tell us how much time you need, and we will make sure your account no longer allows you to log into Draft Brackets or join any contests during that period. Here’s how it works: 
                        </p>
                        <ul>
                            <li>
                                You contact <a href="contact-us">Customer Support</a> and request a Self-Exclusion to suspend your account.
                            </li>
                            <li>
                                You can suspend your account for your choice of 3, 6, 9 or 12 months.
                            </li>
                            <li>
                                Any upcoming entries will be canceled and refunded.
                            </li>
                            <li>
                                You can reach out to <a href="contact-us">Customer Support</a> for assistance if you wish to withdraw any remaining funds from your account after we suspend your account. 
                            </li>
                            <li>
                                You will not be able to login or access your Draft Brackets account.
                            </li>
                            <li>
                                We will suppress your email address (the one you signed up with) from receiving additional, personally directed promotional or marketing messages.
                            </li>
                        </ul>
                        <p>
                            If for any reason, you want to extend the time period of your self-exclusion or permanently close your account, contact <a href="contact-us">Customer Support</a>, and we can assist you in making your final withdrawal and shutting down your account. If you decide that you would like to come back and play at the end of your self-exclusion period, please contact <a href="contact-us">Customer Support</a>. Each request for reactivation will be evaluated individually.
                        </p>
                       <!-- <h3>Limitations on Consumer Deposits</h3>
                        <p>
                            Draft Brackets restricts deposits in any calendar month to $1,000 per calendar month. 
                        </p>
                        <p>
                            To request an increase in your deposit limit (for applicable states), you will be asked to complete and submit a form that helps us evaluate your income and asset information. You may also be required to submit additional documentation in support of your increase request. Increase requests will be evaluated on an individual basis and are in Draft Brackets complete discretion. Please contact Draft Brackets Customer Support here to begin this process.
                        </p>
                        <h3>Play Limits</h3>
                        <p>
                            Draft Brackets also provides a number of tools designed to help you more actively manage your play. 
                        </p>
                        <ul>
                            <li>
                                Deposit Limits – You can set a monthly, weekly or daily deposit limit.
                            </li>
                            <li>
                                Contest Entry Limits – You can establish limits on the number of contests you enter for a monthly, weekly, or daily time period.
                            </li>
                            <li>
                                Contest Entry Alerts – You can establish a monthly, weekly, or daily alert that notifies you of the number of contests you’ve entered on Draft Brackets.
                            </li>
                            <li>
                                Contest Entry Fee Limits – You can establish limits on the contests you may enter based on the entry fee amounts of those contests over a monthly, weekly, or daily time period.
                            </li>
                        </ul>-->
                        <h3>Third Party Exclusive Requests</h3>
                        <p>
                            As part of its responsible play efforts, Draft Brackets allows qualified third parties, who have concerns about a player’s ability to manage his or her play, to request a limitation on that player’s use of Draft Brackets. Limitations may include restriction of or exclusion from play.
                        </p>
                        <h3>Q: Who Can Make a Third Party Exclusion Request?</h3>
                        <p>
                            A: Third Party Exclusion or Play Restriction requests for a specific Draft Brackets user can be made by requestors who provide proof that:
                        </p>
                        <ul>
                            <li>
                                The requestor is jointly obligated on the credit or debit card associated with the Draft Brackets user’s account;
                            </li>
                            <li>
                                The Draft Brackets user is legally dependent on the requestor under state or federal law;
                            </li>
                            <li>
                                The requestor is wholly or partially obligated for the debts of the Draft Brackets user pursuant to a court order; or
                            </li>
                            <li>
                                The Draft Brackets user is subject to a court order requiring him or her to pay unmet child support obligations.
                            </li>
                        </ul>
                        <!--<h3>Q: What restrictions or limitation options can be imposed on the Draft Brackets user?</h3>
                        <p>
                            A: At the request of a qualified third party, a Draft Brackets user may be excluded from play for a period of 3, 6, 9 or 12 months or have deposit limits applied to the Draft Brackets user’s account. Such limits would range from $1,000, $750, $500, $250, $100 or $50 per month, week or day.
                        </p>-->
                        <h3>Q: Will the user be notified of the third party exclusion request?</h3>
                        <p>
                            A: In the event we receive a request that satisfies the above criteria, we will attempt to notify the Draft Brackets user via email of such request.
                        </p>
                        <h3>Q: Will the user be able to challenge the request or show why it is not valid?</h3>
                        <p>
                            A: The user will have 5 business days from the date we send email notification of the request to respond. If the user does not respond within 5 business days or Draft Brackets deems, in its sole discretion, that the information is insufficient to refute the request, it will be honored and the exclusion or restriction shall be enforced.
                        </p>
                        <p>
                            If you wish to request the exclusion of a Draft Brackets player please contact <a href="contact-us">Customer Support</a>.
                        </p>
                        <h3>Parental Controls</h3>
                        <p>
                           Draft Brackets verifies all accounts for age and eligibility. If minors under 18 have access to your computer and/or personal information, please consider installing parental control software to prevent access to Draft Brackets and other age-restricted sites. If you believe a minor is playing on Draft Brackets, please contact <a href="contact-us">customer support</a>. If a minor is found playing on Draft Brackets, then that account will be closed. 
                        </p>
                        <h3>Need additional help?</h3>
                        <p>
                            We consult with various organizations – such as the National Council for Problem Gambling (NCPG) and the National Center for Responsible Gaming - that cover a wide array of consumer protection issues, including problem play, to discuss our policies and ways in which they can remain aligned with the ever-evolving needs of our customer.
                        </p>
                        <p>
                            If you have additional concerns about managing your play on Draft Brackets or gaming anywhere else - or if you’re concerned about a friend or family member – NCPG offers support and counseling referrals that may help you through personal, gaming-related issues. The NCPG operates a 24-hour confidential toll-free helpline that you can reach by phone or text at <strong>1-800-522-4700</strong> or chat at <a href="http://www.ncpgambling.org/chat" target="_blank">www.ncpgambling.org/chat</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>