<!-- <div ng-if="pick.selected" ng-class="pick.chosenAsset ? 'pick col-xs-12 pick' + pick.position + ' chosenAsset' : 'pick col-xs-12 pick' + pick.position">  -->
<div ng-if="pick.selected" ng-class="pick.chosenAsset ? 'pick pick' + pick.position + ' chosenAsset' : 'pick pick' + pick.position" style="display: none;">
<!-- <div ng-if="pick.selected" ng-class="pick.chosenAsset ? 'pick pick' + pick.position + ' chosenAsset' : 'pick pick' + pick.position"> -->
  <!-- <div class="pick-data col-xs-2 col-sm-2 col-md-3 col-lg-3"> -->
  <!-- <div class="pick-data zan-pick-data">
    <span class="hidden-md hidden-lg pick-number"><small>#</small>{{pick.player_pick}}</span>
    <span class="hidden-md hidden-lg round-number">Rd {{pick.player_round}}</span>
    <span class="hidden-xs hidden-sm pick-number"><small>Pick #</small> {{pick.player_pick}}</span>
    <span class="hidden-xs hidden-sm round-number"><small>Round</small> {{pick.player_round}}</span>
  </div> -->

  <!-- <div class="player-data col-xs-10 col-sm-10 col-md-9 col-lg-9"> -->
  <div class="player-data zan-player-data hide-team-info">
	<!-- Need two because from the node js admin side it is name and the sql side it is team_name -->
    <span class="visible-xs hidden-sm hidden-md hidden-lg first-name-xs">{{pick.team_name}}{{pick.name}}</span>
    <span class="hidden-xs visible-sm visible-md visible-lg player-name-sm">{{pick.team_name}}{{pick.name}}</span>
    <span class="sports-data visible-xs visible-sm visible-md hidden-lg">{{pick.league}} {{pick.team}}({{pick.seed}}{{pick.position}})</span>
    <span class="sports-data hidden-xs hidden-sm hidden-md visible-lg">{{pick.league}} {{pick.team}}({{pick.seed}}{{pick.position}})</span>
    <span class="manager">{{pick.manager_name}}</span>
  </div>
</div>
<!-- <div class="pick col-xs-12 unselected" ng-if="!pick.selected" ng-class="(pick.on_the_clock ? ' active' : '') + (pick.chosenAsset ? ' chosenAsset' : '')"> -->
<div class="pick unselected" ng-if="!pick.selected" ng-class="(pick.on_the_clock ? ' active' : '') + (pick.chosenAsset ? ' chosenAsset' : '')" style="display: none;">
  <!-- <div class="pick-data col-xs-2 col-sm-2 col-md-3 col-lg-3"> -->
  <div class="pick-data zan-pick-data">
    <span class="hidden-md hidden-lg pick-number"><small>#</small>{{pick.player_pick}}</span>
    <span class="hidden-md hidden-lg round-number">Rd {{pick.player_round}}</span>
    <span class="hidden-xs hidden-sm pick-number"><small>Pick #</small> {{pick.player_pick}}</span>
    <span class="hidden-xs hidden-sm round-number"><small>Round</small> {{pick.player_round}}</span>
  </div>
  <!-- <div class="player-data col-xs-10 col-sm-10 col-md-9 col-lg-9"> -->
  <div class="player-data zan-player-data">
    <span class="visible-xs hidden-sm hidden-md hidden-lg manager-xs">{{pick.manager_name}}</span>
    <span class="hidden-xs visible-sm visible-md visible-lg manager-sm">{{pick.manager_name}}</span>
    <span class="on-clock" ng-show="pick.on_the_clock"><i class="fa fa-clock-o"></i> On the clock</span>
  </div>
</div>




<div class="zan-row">
    <div class="zan-drafts-table table" style="width: 100%;">
        <div class="table-content tr table-to-div-row">
            <div class="col-sm-3 td">
                <div class="player-data zan-player-data">
                    <span class="visible-xs hidden-sm hidden-md hidden-lg manager-xs">{{pick.manager_name}}</span>
                    <span class="hidden-xs visible-sm visible-md visible-lg manager-sm">{{pick.manager_name}}</span>
                    <span class="on-clock" ng-show="pick.on_the_clock"><i class="fa fa-clock-o"></i> On the clock</span>
                </div>        
            </div>
            <div class="col-sm-3 zan-team-data td">
                <div class="player-data zan-player-data hide-team-info">
                    <!-- Need two because from the node js admin side it is name and the sql side it is team_name -->
                    <span class="visible-xs hidden-sm hidden-md hidden-lg first-name-xs">{{pick.team_name}}{{pick.name}}</span>
                    <span class="hidden-xs visible-sm visible-md visible-lg player-name-sm">{{pick.team_name}}{{pick.name}}</span>
                    <span class="sports-data visible-xs visible-sm visible-md hidden-lg">{{pick.league}} {{pick.team}}({{pick.seed}}{{pick.position}})</span>
                    <span class="sports-data hidden-xs hidden-sm hidden-md visible-lg">{{pick.league}} {{pick.team}}({{pick.seed}}{{pick.position}})</span>
                    <!-- <span class="manager">{{pick.manager_name}}</span> -->
                </div>
            </div>
            <div class="col-sm-3 td">
                <div class="pick-data zan-pick-data">
                    <span class="hidden-md hidden-lg pick-number"><small># </small>{{pick.player_pick}}</span>
                    <!-- <span class="hidden-md hidden-lg round-number"><small>Rd </small>{{pick.player_round}}</span> -->
                    <span class="hidden-xs hidden-sm pick-number"><small>Pick # </small>{{pick.player_pick}}</span>
                    <!-- <span class="hidden-xs hidden-sm round-number"><small>Round </small>{{pick.player_round}}</span> -->
                </div>            
            </div> 
            <div class="col-sm-3 td">
                <div class="pick-data zan-pick-data">
                    <!-- <span class="hidden-md hidden-lg pick-number"><small># </small>{{pick.player_pick}}</span> -->
                    <span class="hidden-md hidden-lg round-number"><small>Rd </small>{{pick.player_round}}</span>
                    <!-- <span class="hidden-xs hidden-sm pick-number"><small>Pick # </small>{{pick.player_pick}}</span> -->
                    <span class="hidden-xs hidden-sm round-number"><small>Round </small>{{pick.player_round}}</span>
                </div> 
            </div>
        </div>
    </div>
</div>

    <!-- <div class="logo">
        <img src="https://s3.amazonaws.com/freebiesupply/large/2x/baltimore-ravens-logo-divansparent.png" class="table-team-icon">
    </div>    