
<!--Footer-->
<footer class="footer" id="footer">
    <div class="container-fluid container">
        <div class="row">
            <!--First column-->
            <div class="col-sm-6 wrapper">
                <div class="logo-social-wrapper">
                    <div class="logo">
                        <img src="images/draftbrackets-vector.svg">
                    </div>
                    <div class="left">
                        <a href="https://www.facebook.com/DraftBrackets/?modal=admin_todo_tour" target="_blank">
                            <img src="images/facebook.png" alt="facebook-icon" class="social-icon">
                        </a>
                    </div>
                    <div class="right">
                        <a href="https://www.instagram.com/draftbrackets/?hl=en" target="_blank">
                            <img src="images/instagram.png" alt="instagram-icon" class="social-icon">
                        </a>
                    </div>
                </div>
				
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-sm-3 wrapper">
                <h2 class="text-uppercase blue">Company</h5>
                <ul class="list-unstyled">
                   <!-- <li>
                        <a href="about-us">About Us</a>
                    </li>-->
                    <!--<li>
                        <a href="refer-a-friend">Refer a Friend</a>
                    </li>-->
                    <li>
                        <a href="contact-us">Contact Us</a>
                    </li>
                    <li>
                        <a href="contest-rules">Contest Rules</a>
                    </li>
                    <li>
                        <a href="terms-and-conditions">Terms and Conditions</a>
                    </li>
                    <li>
                        <a href="privacy-policy">Privacy Policy</a>
                    </li>
                   
                </ul>
				<div class="android-button-wrap zan-center">
					<a href="https://expo.io/artifacts/2a3b678a-0fc9-401a-bb75-3f07b1e66fd6"><img src="images/android-button@2x.png" /></a> 
				</div>
            </div>
            <!--/.Second column-->
 
            <!-- Third column -->
            <div class="col-sm-3 wrapper"> 
                <h2 class="text-uppercase red">Contests</h5>
                <ul class="list-unstyled sport-links-column ">
				 <!--<li>
                        <a href="rules-and-scoring">Rules & Scoring</a>
                    </li>-->
                    <li>
                        <a href="/nba">National Basketball Association </a> 
                    </li>
                    <li>
                        <a href="/nfl">National Football League</a>
                    </li>
                    <li>
                        <a href="/nhl">National Hockey League</a>
                    </li>
                    <li>
                        <a href="mlb">Major League Baseball</a>
                    </li> 
                    <li>
                        <a href="mma">Mixed Martial Arts</a>
                    </li>
                </ul>
            </div>
            <!-- /.Third column -->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright text-center container">
        <div class="col-md-6 zan-no-padding align-left">
            <p ><span class="blue">DRAFT BRACKETS LLC.</span> <span class="red">All rights reserved.</span></p>
        </div>
        
        <div class="col-md-6 zan-no-padding align-right">
            <!-- <img src="images/payment-icons.png" alt="payment icons" class="payment-icons"> -->
            <p><span class="blue">Based in Bay Area,</span><span class="red"> California</span></p>
        </div>
    </div>
</footer>


<div id="loading-handle" class="loading-wrap">
<!--<div class="loading"><span>L</span><span>o</span><span>a</span><span>d</span><span>i</span><span>n</span><span>g</span>
</div>-->
<img src="./images/db_gif.gif" class="loading-image-gif" />
</div>